@import "tailwindcss";
@import "@nuxt/ui";


.container-size {
    width: 100%;
    max-width: 480px;
    max-height: 90vh;
}

.loading-bg {
    background-image: linear-gradient(100deg, var(--ui-bg), var(--ui-bg-muted), var(--ui-bg));
    animation: loading-color 6s infinite;
    background-size: 400%;
  }

  @keyframes loading-color {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 220% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }